<!DOCTYPE html>
<html>
  <head>
    <title>VidBits</title>
    <link rel="icon" type="image/ico" href="/img/favicon.ico">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <section class="section">
      <div class="container">
        <nav class="level">
          <p class="level-item has-text-centered">
            <a id="home-link" href="/" title="VidBits">
              <img src="/img/logo.svg" alt="VidBits">
            </a>
          </p>
        </nav>
      </div>
    </section>
    {{{ body }}}
  </body>
</html>